<header>
    <a href='/'>
        <h1>Team Stat Tracker</h1>
    </a>
    <nav>
        <ol>
            <li>
                <a href='/players'>See All Players</a>
            </li>
            <li>
                <a href='players/new'>Add New Player</a>
            </li>
            
        </ol>
    </nav>
</header>