<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>New Stats</title>
</head>
<body>
    <form action='/players' method='POST'>
        Free Throws: <input type='text' name='Free Throws' /><br />
        Two-Point Shots: <input type='text' name='Two-Point Shots' /><br />
        Three-Point Shots: <input type='text' name='Three-Point Shots' /><br />
        Assists: <input type='text' name='Assists' /><br />
        <input type='submit' value='Add New Stats' />
 </form>

</body>
</html>