<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href='/style.css' rel='stylesheet' type='text/css'>
    <title>New Stats</title>
</head>
<body>
    <h1>New Game Stats</h1>
    <form action='/stats' method='POST'>
        <input placeholder='Game' type='text' name='game' /><br />
        <input placeholder='Two Point Shots' type='number' name='twoPoint' /><br />
        <input placeholder='Three Point Shots' type='number' name='threePoint' /><br />
        <input placeholder='Free Throws' type='number' name='freeThrow' /><br />
        <input placeholder='Rebounds' type='number' name='rebound' /><br />
        <input placeholder='Assists' type='number' name='assist' /><br />
        <input placeholder='Steals' type='number' name='steal' /><br />
        <input placeholder='Game MVP' type='text' name='mvp' /><br />
        <input placeholder='Score' type='text' name='score' /><br />
        

        
        <input type='submit' value='Add New Stats' />
        
    </form>
    <div id='mySidenav' class='sidenav'>
        <br></br>
        <br></br>
        <a href='/stats/new'>Add Game Four Stats</a> <br />
        <a href='/stats/new'>Add Game Five Stats</a> <br />  
        <a href='/stats/new'>Add Game Six Stats</a> <br />
        <a href='/stats/new'>Add Game Seven Stats</a> <br />  
        <a href='/stats/new'>Add Game Eight Stats</a> <br />  
        <a href='/stats/new'>Add Game Nine Stats</a> <br />  
        <a href='/stats/new'>Add Game Ten Stats</a> <br /> 
        <br />
        <a href='https://www.maxpreps.com/high-schools/napoleon-pirates-(napoleon,mi)/girls-basketball/schedule.htm'>2021-2022 Game Schedule</a>     
        <a href='/index.html'>Meet Our Seniors</a> <br />
        <a href='/index2.html'>Meet Our Team</a> <br />
        <a href = '/stats'>Back to Main Page</a> <br />
    
    
    </div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
   <img src = 'https://www.sportsfeelgoodstories.com/wp-content/uploads/2020/03/kobe-quote-image.jpg'>

</body>
</html>