<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link href='../style.css' rel='stylesheet' type='text/css'>
    <title>New Stats</title>
</head>
<body>
    <h1>New Game Stats</h1>
    <form action='/stats' method='POST'>
        <input placeholder='Game' type='text' name='game' /><br />
        <input placeholder='Two Point Shots' type='number' name='twoPoint' /><br />
        <input placeholder='Three Point Shots' type='number' name='threePoint' /><br />
        <input placeholder='Free Throws' type='number' name='freeThrow' /><br />
        <input placeholder='Rebounds' type='number' name='rebound' /><br />
        <input placeholder='Assists' type='number' name='assist' /><br />
        <input placeholder='Steals' type='number' name='steal' /><br />
        <input placeholder='Game MVP' type='text' name='mvp' /><br />
        
        <input type='submit' value='Add New Stats' />
        
    </form>

   <img src = 'https://www.sportsfeelgoodstories.com/wp-content/uploads/2020/03/kobe-quote-image.jpg'>

</body>
</html>